<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <h1 align="center"><%= name %>'s Planner</h1>
    <style>
        body {
            font: 14px/1.5em "Lucida Grande",Arial,sans-serif;
            margin: 50px 300px;
            align-content: center;
        }
    </style>
</head>
<body>
<table>
<!-- here goes our data! -->
</table>
</body>
<p>
    <button type="submit" onclick="run();">Submit</button>
</p>
<script>
    function run() {
      /*let array = [
        { Time: "10:00am", Place: "Leave <%= hotel %>" },
        { Time: "10:00am - " + t[0], Place: "Travel from <%= hotel %> to " + a[0] },
        { Time: t[0] + " - " + t[1], Place: "Stay in " + a[0] },
        { Time: t[1] + " - " + t[2], Place: "Travel from " + a[0] + "to + " + a[1] },
        { Time: "12:00am - 12:45pm", Place: "Stay in " + a[1]},
        { Time: "11:30am - 12:00pm", Place: "Travel from " + a[1] + "to + " + a[2] },
        { Time: "10:30am - 11:30am", Place: "Stay in " + a[2] },
        { Time: "11:30am - 12:00pm", Place: "Travel from " + a[2] + "to + " + a[3] },
        { Time: "12:00am - 12:45pm", Place: "Stay in " + a[3]}
      ];*/

      let array = [
        { Time: "10:00am", Place: "Leave <%= hotel %>" },
        { Time: "10:00am - 10:20am", Place: "Travel from <%= hotel %> to Du Bois Library, Amherst, MA" },
        { Time: "10:20am - 10:50am", Place: "Stay in Du Bois Library, Amherst, MA" },
        { Time: "10:50am - 11:05am", Place: "Travel from Du Bois Library, Amherst, MA to Emily Dickinson Museum, Amherst, MA" },
        { Time: "11:05am - 1:05pm", Place: "Stay in Emily Dickinson Museum, Amherst, MA" },
        { Time: "1:05pm - 1:15pm", Place: "Travel from Emily Dickinson Museum, Amherst, MA to Judie's, Amherst, MA" },
        { Time: "1:15pm - 2:15pm", Place: "Stay in Judie's, Amherst, MA" },
        { Time: "2:15pm - 2:30pm", Place: "Travel from Judie's, Amherst, MA to Beneski Museum, Amherst, MA" },
        { Time: "2:30pm - 4:30pm", Place: "Stay in Beneski Museum, Amherst, MA" },
        { Time: "4:30pm - 4:45pm", Place: "Travel from Beneski Museum, Amherst, MA to Eric Carle Museum, Amherst, MA" },
        { Time: "4:45pm - 6:45pm", Place: "Stay in Eric Carle Museum, Amherst, MA" },
        { Time: "6:45pm - 7:00pm", Place: "Travel from Eric Carle Museum, Amherst, MA to Johnny's Tavern, Amherst, MA" },
        { Time: "7:00pm - 8:00pm", Place: "Stay in Johnny's Tavern, Amherst, MA" },
        { Time: "8:00pm - 8:20pm", Place: "Travel from Johnny's Tavern, Amherst, MA to <%= hotel %>" },
      ];

      function generateTableHead(table, data) {
        let thead = table.createTHead();
        let row = thead.insertRow();
        for (let key of data) {
          let th = document.createElement("th");
          let text = document.createTextNode(key);
          th.appendChild(text);
          row.appendChild(th);
        }
      }
  
      function generateTable(table, data) {
        for (let element of data) {
          let row = table.insertRow();
          for (key in element) {
            let cell = row.insertCell();
            let text = document.createTextNode(element[key]);
            cell.appendChild(text);
          }
        }
      }
  
      let table = document.querySelector("table");
      let data = Object.keys(array[0]);
      generateTableHead(table, data);
      generateTable(table, array);
    }
</script>
</html>